@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

* {
    font-family: 'Sirin Stencil', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 12.5vh;
    background-color:seagreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header > h1 {
    font-size: 5rem;
    align-self: center;
    margin-left: 10vw;
    color: whitesmoke;
    position: relative;
    bottom: 5px;

}

.buttons {
    justify-self: end;
    align-self: center;
    margin-right: 10vw;
    display: flex;
    gap: 2rem;
}

.buttons > button {
    font-size: 2.5rem;
    background-color: seagreen;
    color: whitesmoke;
    border-width: 0;
    font-weight: 500;
}

.image {
    height: 87.5vh;
    background-image: url(./ruben-ramirez-xhKG01FN2uk-unsplash.jpg);
    background-size: cover;
    background-position-y: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menuimage {
    height: 87.5vh;
    background-image: url(./ruben-ramirez-xhKG01FN2uk-unsplash.jpg);
    background-size: cover;
    background-position-y: -250px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    justify-items: center;
}

.menuimage > div {
    background-color: rgba(46, 139, 87, 0.6);
    width: 35vw;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.contactimage {
    height: 87.5vh;
    background-image: url(./ruben-ramirez-xhKG01FN2uk-unsplash.jpg);
    background-size: cover;
    background-position-y: -250px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem;
    justify-items: center;
}

.contactimage > div {
    background-color: rgba(46, 139, 87, 0.6);
    width: 35vw;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.darkbg {
    background-color: rgba(46, 139, 87, 0.6);
    padding: 10px;
    font-size: 1.25rem;
    border-radius: 0.20rem;
}




